{% extends 'quiz/base.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}

    {% for form in formset %}
    <div class="question">
        <h3>{{ questions.forloop.counter }}. {{ form.instance.question.text }}</h3>
        
        <!-- {% for field in form %}
          {{ field.label_tag }} {{ field }}
          {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %} -->
      </div>
    {% endfor %}

    <button type="submit">Submit Answers</button>
</form>
{% endblock %}